@use '~scss/variables';

.modalBody {
  padding: 0;
}

.body {
  padding: 20px;
}

.title {
  display: flex;
  margin-bottom: 20px;

  .name {
    font-size: 16px;
    line-height: 32px;
    font-weight: variables.$font-bold;
    text-align: left;
  }

  :global .icon {
    margin-right: 12px;
    flex-shrink: 0;
    align-self: center;

    svg {
      fill: variables.$blue;
      color: variables.$white;
    }
  }

  .description {
    h3 {
      line-height: 1.67;
      font-size: 12px;
      font-weight: 600;
      color: variables.$dark-color07;
    }

    small {
      display: block;
      line-height: 1.67;
      font-weight: normal;
      font-size: 12px;
      color: variables.$dark-color01;
    }
  }
}

.content {
  padding: 0 5px;
  line-height: 20px;
  color: variables.$text-color;
}

.footer {
  padding: 14px 20px;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid variables.$border-color;
  background-color: variables.$bg-color;
  text-align: right;

  button {
    margin-left: 10px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}
