@use '~scss/variables';

.cardWrapper {
  flex: 1;
  background-color: variables.$white;
  padding: 10px 12px;
  border-radius: variables.$border-radius;
  overflow: hidden;
  overflow-y: auto;
}

.item {
  color: variables.$text-color;
  padding: 8px 20px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$card-bg-color;
  border-radius: variables.$border-radius;

  .avatar {
    opacity: 1;
  }
}

.empty {
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: variables.$second-text-color;
  border: 1px dashed variables.$border-color;
  border-radius: variables.$border-radius;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  background-image: url('/assets/add-grey.svg');
  margin-right: 4px;
}
