@use '~scss/variables';
@use '~scss/mixins';

.content {
  padding: 12px;
  background-color: variables.$white;
}

.container {
  display: flex;
  padding: 12px;
  border-radius: 4px;
  background-color: variables.$card-bg-color;
}

.tabs {
  width: 172px;
  margin-right: 12px;

  li {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    line-height: 20px;
    border-radius: 18px;
    border: 1px solid transparent;
    cursor: pointer;

    & + li {
      margin-top: 4px;
    }

    &.active {
      box-shadow: 0 4px 8px 0 rgba(25, 30, 41, 0.2);
      background-color: variables.$dark-color06;
      border: 1px solid variables.$dark-color05;

      p {
        color: variables.$white;
      }
    }

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      pointer-events: none;

      :global(.icon) {
        vertical-align: top;
      }

      i {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    p {
      width: 100%;
      padding-right: 10px;
      color: variables.$third-text-color;
      font-weight: 500;
      pointer-events: none;
      @include mixins.ellipsis;
    }

    .updated {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.form {
  position: relative;
  width: calc(100% - 184px);
  padding: 12px;
  padding-bottom: 38px;
  border-radius: 4px;
  background-color: variables.$white;
  border: 1px solid variables.$light-color03;
  overflow: hidden;

  &Actions {
    bottom: 0;
    transform: translateY(100%);
    transition: all variables.$trans-speed;

    &.active {
      transform: translateY(0);
    }
  }
}

.formWrapper {
  max-height: calc(100vh - 230px);
  min-height: 400px;
  overflow-y: scroll;
  padding: 12px;
  margin: -12px;
}

.footer {
  text-align: right;
  padding: 12px 20px;
  background-color: variables.$light;
  border-radius: 0 0 variables.$border-radius variables.$border-radius;
}

.confirm {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
