@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  & > header {
    font-weight: bold;
    color: variables.$dark-color07;
    margin-bottom: 8px;
  }

  & > div {
    padding: 8px;
    background: variables.$light-color02;
  }

  & + .wrapper {
    margin-top: 8px;
  }
}
