@use '~scss/variables';

.main {
  padding-top: variables.$header-height;
  min-width: variables.$content-width;
}

.nav {
  left: -(variables.$nav-width + 10px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: variables.$content-width;
  z-index: 200;
}
