@use '~scss/variables';
@use '~scss/mixins';

.select {
  padding: 12px;
  margin-bottom: 12px;
  background-color: variables.$white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(variables.$dark-color07, 0.06);
}

.control {
  position: relative;
  cursor: pointer;
}

.rightIcon {
  position: absolute;
  @include mixins.vertical-center;
  right: 32px;
}

.selected {
  background-color: variables.$lightest;
}

.options {
  width: calc(100vw - 436px);
  overflow: hidden;
  border-radius: variables.$border-radius;
}

.item {
  display: flex;
  padding: 14px 19px;

  .icon {
    margin-right: 12px;
  }

  .name {
    :global .h6 {
      font-family: variables.$font-family-id;
      font-size: variables.$size-normal;
      font-weight: variables.$font-bold;
      line-height: 1.43;
    }

    p {
      color: variables.$light-color08;
    }
  }

  &:hover {
    background-color: variables.$lightest;
  }
}

.empty {
  padding: 12px 20px;
  color: variables.$light-color08;
  font-size: variables.$size-medium;
  font-weight: variables.$font-bold;
  line-height: 1.5;
  background-color: variables.$th-bg-color;
  border-radius: 4px;
}
