@use '~scss/variables';
@use '~scss/mixins';

.item {
  position: relative;
  padding: 12px;
  padding-right: 150px;
  margin-bottom: 12px;
  border-radius: variables.$border-radius;
  border: solid 1px variables.$border-color;
  background-color: variables.$white;

  &.on {
    box-shadow: 0 4px 8px 0 rgba(variables.$dark-color07, 0.2);
    border-color: variables.$dark-color01;
  }
}

.switch {
  position: absolute;
  @include mixins.vertical-center;
  right: 12px;
}
