@use '~scss/variables';

.item {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;
  background-color: variables.$light-color01;
  box-shadow: 0 4px 12px rgba(variables.$dark-color07, 0.06);

  & + .item {
    margin-top: 12px;
  }

  & > div {
    min-width: 120px;
    flex: 1;
  }
}
