@use '~scss/variables';

.main {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  border-radius: variables.$border-radius;
  background-color: variables.$card-bg-color;

  &.dark {
    display: inline-block;
    padding: 2px;
    border: 1px solid variables.$border-color;
    border-radius: 16px;
    background-color: variables.$white;

    .item {
      display: inline-block;
      margin: 0;
      padding: 0 10px;
      min-width: 100px;
      height: 28px;
      line-height: 28px;
      color: variables.$title-color;
      font-weight: 500;
      border-radius: 14px;
      border: 0 none;
      text-align: center;
      transition: all variables.$trans-speed ease-in-out;

      &:hover {
        background-color: variables.$bg-color;
      }

      &.active {
        background-color: variables.$dark;
        color: variables.$white;
      }
    }
  }
}

.item {
  min-width: 96px;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  margin: 0 6px;
  font-weight: 400;
  color: variables.$second-title-color;
  text-align: center;
  border: 1px solid transparent;
  transition: all variables.$trans-speed;

  &.active {
    border-radius: 100px;
    border-color: variables.$border-color;
    background-color: variables.$bg-color;

    &:hover {
      color: variables.$second-title-color;
    }
  }
}
