@use "../../styles/variables";
@use "../../styles/mixins";

.progress {
  display: block;
  position: relative;
  height: 8px;
  border-radius: 5px;
  background-color: variables.$light-color02;
  overflow: hidden;

  &-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 1;

    &-primary {
      background-color: variables.$primary;
    }

    &-warning {
      background-color: variables.$warning;
    }

    &-danger {
      background-color: variables.$error;
    }
  }
}
