@use '~scss/variables';
@use '~scss/mixins';

.header {
  margin-bottom: 20px;

  & > div + div {
    margin-left: 40px;
  }
}

.description {
  display: inline-block;
  margin-left: 26px;
  vertical-align: top;
  padding: 14px;
  h3 {
    @include mixins.TypographyTitleH3();
    small {
      margin-left: 0.5em;
      @include mixins.TypographyTitleH6();
    }
  }
  p {
    color: variables.$dark-color01;
  }
}

.card {
  display: inline-block;
  width: 123px;
  height: 80px;
}
