@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  padding: 12px;
  background-color: variables.$lightest;
  border-radius: variables.$border-radius;
}

.probeItem {
  padding: 12px 16px;
  border-radius: variables.$border-radius;
  border: 1px solid variables.$border-color;
  background-color: variables.$white;

  & + .probeItem {
    margin-top: 8px;
  }
}

.title {
  display: flex;
  align-items: center;
}

.probeType {
  margin-left: 4px;
}
