@use '~scss/variables';

.path {
  fill: none;
  stroke: #a5afba;
  stroke-width: 2px;
  transition: all 0.2s ease-in-out;

  &:hover {
    stroke-width: 3px;
  }

  &.error {
    stroke: variables.$red-color03;
  }

  &.active {
    stroke: variables.$blue-color03;
  }

  &.tcpActive {
    stroke: variables.$green-color04;
  }

  &.selected {
    stroke-width: 4px;
  }
}

.marker {
  fill: #a5afba;

  &.error {
    fill: variables.$red-color03;
  }

  &.active {
    fill: variables.$blue-color03;
  }

  &.tcpActive {
    fill: variables.$green-color04;
  }
}
