@use '~scss/variables';

.wrapper {
  & > li {
    padding: 20px 24px;
    border-radius: 4px;
    background-color: variables.$lightest;

    & + li {
      margin-top: 8px;
    }
  }

  div {
    vertical-align: middle;
    color: variables.$dark-color03;
  }

  .name {
    float: left;
    width: 200px;
    height: 60px;
    margin-right: 60px;
    font-size: variables.$size-normal;
    font-weight: variables.$font-bold;
    line-height: 1.43;
    color: variables.$text-color;
  }
}
