@use '~scss/variables';
@use '~scss/mixins';

.info {
  position: relative;
  padding: 12px 20px;
  border-radius: variables.$border-radius;
  background-color: variables.$card-bg-color;

  .icon {
    position: absolute;
    top: 12px;
    left: 20px;
    width: 40px;
    height: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.text {
  padding-left: 60px;
  min-height: 40px;

  & > div {
    @include mixins.TypographyTitleH6(variables.$dark-color07);
    font-size: 14px;
    line-height: 20px;
  }

  & > p {
    @include mixins.TypographyParagraph(variables.$dark-color01);
    max-height: 40px;
    word-break: break-all;
    overflow: hidden;
  }
}

.link {
  display: block;
  width: 100%;
  cursor: pointer;
  transition: all variables.$trans-speed cubic-bezier(0.175, 0.35, 0.32, 1);

  &:hover {
    box-shadow: variables.$card-selector-shadow;
  }
}

.large {
  padding: 20px;

  .icon {
    top: 20px;
  }
}
