@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  position: relative;
  margin-bottom: 12px;
}

.title {
  margin-bottom: 8px;
  @include mixins.TypographySymbolText();
}

.panel {
  padding: 12px;
  border-radius: variables.$border-radius;
  background-color: variables.$white;
  box-shadow: variables.$card-shadow;
}

.empty {
  padding: 12px;
  border-radius: variables.$border-radius;
  background-color: variables.$card-bg-color;
  font-size: 16px;
  font-weight: variables.$font-bold;
  color: variables.$light-color07;
}

.loading {
  margin-left: 50%;
  transform: translateX(-50%);
}
