@use '~scss/variables';
@use '~scss/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: variables.$blue;
    font-weight: 600;
  }
}

.content {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 12px -12px 0 -12px;
  background-color: variables.$card-bg-color;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 88px;
  margin-right: 20px;
  border-radius: 2px;
  border: dashed 1px variables.$light-color04;
  background-color: variables.$white;

  img {
    width: 282px;
    height: 60px;
  }
}

.info {
  flex: 1;
  & > div + div {
    margin-top: 8px;
  }
}
