@use '~scss/variables';

.rules {
  & > li {
    padding: 20px 24px;
    border-radius: 4px;
    background-color: variables.$lightest;

    & + li {
      margin-top: 8px;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    color: #5f708a;
  }

  .name {
    width: 200px;
    margin-right: 60px;
    font-size: variables.$size-normal;
    font-weight: variables.$font-bold;
    line-height: 1.43;
    color: variables.$text-color;
  }
}
