@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  border-radius: variables.$border-radius;
  overflow: hidden;
}

.tabHeader {
  padding: 0 12px;
  background-color: variables.$light-color01;

  &Item {
    display: inline-block;
    width: 207px;
    padding: 12px;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: variables.$white;
    }
  }
}

.tabContent {
  padding: 12px;
}

.chartWrapper {
  position: relative;
  background-color: variables.$dark-color07;
  border-radius: variables.$border-radius;
}
