@use '~scss/variables';

.card {
}

.content {
  padding: 8px;
  border-radius: 4px;
  background-color: variables.$card-bg-color;
}

.table {
  width: 100%;

  tr {
    border-bottom: 4px solid variables.$card-bg-color;
  }

  th,
  td {
    width: 25%;
    line-height: 20px;
  }

  th {
    padding: 4px 0 8px 20px;
    color: variables.$second-text-color;
  }

  td {
    padding: 8px 0 8px 20px;
    background-color: variables.$white;
  }
}
