@use '~scss/variables';

.icon {
  margin-right: 4px;

  :global {
    svg {
      color: rgba(255, 255, 255, 0.9);
      fill: variables.$blue-color03;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: variables.$black;
}

.desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: variables.$dark-color07;
  margin-top: 12px;
}
