@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  height: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: variables.$lightest;
}

.header {
  display: flex;
  position: relative;

  .text {
    margin-left: 8px;
    .name {
      font-weight: variables.$font-bold;
      font-family: variables.$font-family-id;

      & > div {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    & > p {
      color: variables.$dark-color01;
    }
  }
}

.content {
  height: calc(100% - 52px);
  margin-top: 12px;
  border-radius: 4px;
  border: solid 1px variables.$light-color03;
  background-color: variables.$white;

  &Header {
    padding: 4px 12px;
    border-bottom: solid 1px variables.$light-color03;
  }

  &Body {
    height: calc(100% - 41px);
    padding: 12px;
    overflow: auto;
  }
}

.properties {
  & > li {
    font-family: variables.$font-family-id;

    & + li {
      margin-top: 8px;
    }

    & > span {
      display: inline-block;
      word-break: break-all;

      &:first-child {
        width: 110px;
        color: variables.$dark-color03;
      }

      & + span {
        margin-left: 8px;
      }
    }
  }
}

.close {
  position: absolute;
  @include mixins.vertical-center;
  right: 12px;
  padding: 6px;
  border-radius: 4px;
  background-color: variables.$light;
  cursor: pointer;
  transition: all variables.$trans-speed ease-in-out;

  &:hover {
    background-color: variables.$light-color03;
  }
}

.log {
  & + .log {
    margin-top: 8px;
  }
}
