@use '~scss/variables';
@use '~scss/mixins';

.card {
  padding: 12px;
  border-radius: 4px;
  background-color: variables.$lightest;

  & + .card {
    margin-top: 8px;
  }
}

.content {
  position: relative;
  display: flex;
  margin-bottom: 12px;

  .text {
    margin-left: 12px;
    & > a {
      font-family: variables.$font-family-id;
      font-size: variables.$size-normal;
      font-weight: variables.$font-bold;
      line-height: 20px;
    }

    & > p {
      color: #79879c;
    }
  }
}

.rules {
  & > li {
    position: relative;
    padding: 11px 20px;
    border-radius: 22px;
    background-color: variables.$bg-color;
    border: solid 1px variables.$border-color;
    font-family: variables.$font-family-id;
    line-height: 20px;

    & + li {
      margin-top: 8px;
    }

    .access {
      right: 6px;
      @include mixins.vertical-center;
    }
  }
}

.empty {
  padding: 20px;
  color: variables.$light-color08;
  font-size: variables.$size-medium;
  font-weight: 600;
  line-height: 1.5;
  background-color: variables.$th-bg-color;
  border-radius: 4px;
}
