@use '~scss/variables';

.averageload {
  white-space: nowrap;
}

.label {
  color: variables.$white;
  border-radius: variables.$border-radius;
  background: variables.$dark-color06;
  padding: 0 0.3em;
  margin: 0 0.3em;
}
