@use '~scss/variables';
@use '~scss/mixins';

$card-height: 152px;

.wrapper {
  height: $card-height;
  padding: 24px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
  vertical-align: top;
  transition: all variables.$trans-speed ease-in-out;

  &:hover {
    transform: translateY(-4px);
    border: 1px solid variables.$dark-color01;
    box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);

    .title strong {
      color: variables.$primary;
    }
  }

  .title {
    position: relative;
    margin-bottom: 12px;
    height: 60px;

    .icon {
      width: 48px;
      height: 48px;
      line-height: 48px;
      left: 0;
      @include mixins.vertical-center;
    }

    .text {
      padding-left: 80px;

      .desc {
        height: 40px;
        line-height: 1.67;
        color: #79879c;
      }
    }

    p {
      @include mixins.block-ellipsis;
      color: #79879c;
    }

    strong {
      font-family: variables.$font-family-id;
      color: #242e42;
    }
  }

  .bottom {
    margin-top: 24px;
    color: variables.$dark-color01;

    .vendor {
      float: left;
      @include mixins.ellipsis;
      max-width: 140px;
    }
    .version {
      @include mixins.ellipsis;
      float: right;
      max-width: 120px;
    }
  }
}
