@use "../../styles/variables";
@use "../../styles/mixins";

.menu {
  margin: 0;
  padding: variables.$menu-padder;
  min-width: variables.$menu-min-width;
  border-radius: variables.$border-radius;
  background-color: variables.$menu-bg;
  list-style: none;
  box-sizing: border-box;
  z-index: variables.$menu-z-index;

  &-label {
    padding: variables.$menu-item-padder;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: variables.$menu-item-padder;
    border-radius: variables.$border-radius;
    font-weight: variables.$font-bold;
    color: variables.$menu-item-color;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      background-color: variables.$menu-item-hover-bg;
    }

    &-selected {
      background-color: variables.$menu-item-selected-bg;
    }

    &:active {
      background-color: variables.$menu-item-active-bg;
    }

    &-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    & > a {
      flex: 1;
      padding: 0 variables.$base-margin;
      margin: 0 - variables.$base-margin;
      line-height: 32px;
    }
  }

  .icon {
    margin-right: variables.$base-margin;
  }
}
