@use '~scss/variables';
@use '~scss/mixins';

.avatar {
  display: flex;

  .icon {
    position: relative;
    margin-right: 12px;

    .indicator {
      position: absolute;
      top: 28px;
      right: 0;
    }
  }

  .title {
    @include mixins.TypographyTitleH6(variables.$dark-color07);
  }

  .desc {
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}
