@use '~scss/variables';
@use '~scss/mixins';

.capacity {
  h3 {
    @include mixins.TypographyTitleH6();
  }

  small {
    color: variables.$dark-color01;
    margin-left: 0.3em;
  }

  p {
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}

.pv_content {
  display: flex;
  align-items: center;

  .yaml {
    box-sizing: border-box;
    margin-left: 5px;
    padding: 2px;
    display: none;
    justify-content: center;
    align-items: center;

    &:hover {
      background: variables.$light-color03;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

:global {
  .table-row {
    &:hover {
      cursor: pointer;

      #pvColumn {
        span {
          display: flex;
        }
      }
    }
  }
}

.status {
  vertical-align: middle;
}
