@use '~scss/variables';

.body {
  background-color: variables.$white;
  padding: 0;
}

.header {
  display: flex;
  padding: 15px 20px;
  border-bottom: 1px solid variables.$border-color;

  .title {
    font-size: variables.$size-normal;
    font-weight: 600;
    color: variables.$dark;
    line-height: 20px;
    margin: 10px 0 10px 20px;
  }
}

.content {
  padding: 20px;

  .topbar {
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;

    p {
      float: left;
      font-weight: 600;
      color: variables.$third-text-color;
    }

    button {
      float: right;
      padding: 0 5px;
      color: variables.$green;
      border: none !important;
    }
  }
}

.footer {
  padding: 9px 20px;
  border-top: 1px solid variables.$border-color;
  text-align: right;
  background-color: variables.$white;

  button {
    margin-left: 10px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.codeEditor {
  height: 382px;
}
