@use '~scss/variables';
@use '~scss/mixins';

.main {
  .note {
    color: variables.$second-text-color;
  }
  .steps {
    margin: 12px;
    line-height: 24px;
  }
  a {
    color: variables.$blue;
  }
}
