@use '~scss/variables';
@use '~scss/mixins';

.dropContent {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: auto;
  padding: 12px;
  width: 100%;
  border: solid 1px variables.$dark-color01;
  border-radius: variables.$border-radius;
  box-shadow: 0 4px 8px 0 rgba(variables.$dark-color07, 0.2);
  background-color: variables.$white;
  z-index: 2;

  .header {
    margin-bottom: 12px;
    height: 32px;
  }
}

.listContent {
  overflow: auto;
  height: 370px;
  li {
    display: flex;
    & > img {
      flex-basis: 40px;
      margin-right: 12px;
      width: 40px;
      height: 40px;
    }

    position: relative;
    padding: 8px;
    margin-bottom: 4px;
    width: 100%;
    height: 56px;
    border-radius: 2px;
    background-color: variables.$light-color01;

    .starContainer {
      flex-basis: 80px;
      width: 50px;
      height: 100%;
      line-height: 40px;
    }

    .actions {
      display: none;
      position: absolute;
      padding-top: 18px;
      top: 0;
      right: 0;
      height: 100%;
      background-color: rgba(239, 244, 249, 0.9);

      span {
        margin-right: 20px;
      }
    }

    .info {
      padding-right: 80px;
      flex-grow: 1;
      & > :first-child {
        font-family: variables.$font-family-id;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.67;
        color: variables.$dark-color07;
      }
      & > :last-child {
        font-family: variables.$font-family-id;
        font-size: 12px;
        line-height: 1.67;
        color: variables.$dark-color01;
      }
    }

    &:hover {
      background-color: variables.$light-color02;
      .info {
        & > :first-child {
          color: variables.$blue-color03;
        }
      }
      .actions {
        display: block;
      }
    }
  }
}

.tabs {
  cursor: pointer;
  height: 32px;
  padding: 1px;
  border-radius: 18px;
  display: inline-block;
  background-color: variables.$bg-color;
  border: 1px solid variables.$light-color04;
  margin-right: 20px;
  .tab {
    display: inline-block;
    width: 156px;
    text-align: center;
    min-width: 120px;
    line-height: 28px;
    color: variables.$dark-color01;
  }

  .selected {
    border-radius: 16px;
    background-color: variables.$dark-color06;
    color: white !important;
  }
}

.header {
  .search {
    float: left;
    width: 320px;
    margin-bottom: 12px;
    margin-right: 12px;
  }
  @include mixins.clearfix;
}

.message {
  margin-bottom: 12px;
  height: 20px;
  font-family: variables.$font-family-id;
  color: variables.$dark-color01;
}

.selectedContent {
  margin-top: 12px;
  padding: 12px;
  min-height: 140px;
  border-radius: variables.$border-radius;
  background-color: variables.$light-color01;

  .selectedImageInfo {
    display: flex;
    margin-bottom: 12px;

    .selectedInfo {
      display: flex;
      flex: 1 1;

      .icon,
      .logo {
        flex-basis: 40px;
        height: 40px;
        margin-right: 12px;
      }
      .imageInfo {
        flex-grow: 1;

        p:first-child {
          height: 20px;
          width: 220px;
          @include mixins.TypographyTitleH6;
          @include mixins.ellipsis;
        }
        p:last-child {
          height: 20px;
          @include mixins.TypographyParagraph(variables.$dark-color01);
        }
      }
    }
  }
}

.emptyContent {
  text-align: center;
  height: calc(100% - 12px);
  position: relative;

  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .icon {
    width: 48px;
    height: 48px;
    margin-bottom: 12px;
  }

  .desc {
    height: 20px;
    @include mixins.TypographyParagraph(variables.$dark-color01);

    .textConfirm {
      padding: 2px;
      margin: 0 2px;
      border-radius: 2px;
      color: variables.$green;
      cursor: pointer;

      &:hover {
        background-color: variables.$green;
        color: variables.$white;
      }
    }
  }
}

.registryFooter {
  margin-bottom: 12px;
  padding-left: 12px;

  button {
    margin-left: 380px;
  }
}

.dropContent_hide {
  display: none;
}

.dropDownIcon {
  position: absolute;
  right: 20px;
  top: 8px;
  z-index: 1;
  cursor: pointer;
}

.dropdownWrapper {
  position: relative;
}

.clickable {
  cursor: pointer;
}

.star {
  margin-right: 4px;
  vertical-align: middle;
}

.imageInput {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: none !important;
}
