@use '~scss/variables';

.title {
  font-weight: variables.$font-bold;
  margin-bottom: 8px;
}

.app {
  margin-top: 12px;
}

.group {
  padding: 12px;
  border-radius: variables.$border-radius;
  background-color: #eff4f960;
  border: 1px dashed #e1e7ed;
  transition: all variables.$trans-speed ease-in-out;

  &:hover {
    background-color: rgba(199, 222, 239, 0.5);
  }

  &.selected {
    border-color: variables.$blue-color03;
    background-color: rgba(199, 222, 239, 0.5);
  }

  &.error {
    border-color: variables.$red-color03;
    background-color: rgba(variables.$red-color03, 0.1);
  }
}

.pods {
  font-weight: variables.$font-bold;

  img {
    margin-right: 10px;
    vertical-align: middle;
  }
}
