@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  :global {
    .table-title {
      display: none;
    }
  }
}

.title {
  margin-bottom: 8px;
  line-height: 20px;
  font-weight: bold;
  color: variables.$head-color;
}
