@use '~scss/variables';

.upload {
  display: flex;
  padding: 12px;
  line-height: 20px;
  font-size: 12px;
  border: 1px dashed variables.$border-color;
  border-radius: variables.$border-radius;
  cursor: pointer;

  &.hide {
    display: none;
  }

  &.error {
    .statusIcon {
      .icon {
        svg {
          color: variables.$white;
          fill: variables.$red;
        }
      }
    }

    .name,
    .description {
      color: variables.$red;
      font-weight: bold;
    }
  }

  .statusIcon {
    position: relative;
    margin-right: 12px;
    width: 40px;
    line-height: 40px;
    font-size: 40px;

    .emoji {
      position: relative;
      top: 4px;
    }

    .icon {
      position: absolute;
      bottom: -4px;
      right: -6px;
      z-index: 2;

      svg {
        color: variables.$white;
        fill: variables.$green;
      }
    }
  }

  .name {
    color: variables.$text-color;
    font-weight: bold;
  }

  .description {
    color: variables.$second-text-color;
  }

  .edit {
    color: variables.$blue;
    cursor: pointer;
  }
}

.packageInfo {
  position: relative;
  border: 0 none;
  cursor: default;

  button {
    position: absolute;
    top: 16px;
    right: 12px;
  }
}

.reUpload {
  margin-bottom: 12px;
  text-align: right;

  > label {
    color: variables.$blue;
    cursor: pointer;
  }
}
