@use '~scss/variables';

.clusterSelector {
  width: 200px;
  color: variables.$white;
  font-size: 12px;
  margin-left: 15px;

  :global {
    .select-control {
      background-color: variables.$dark-color07 !important;
      box-shadow: none !important;
      border: none !important;
    }

    .select-value {
      color: variables.$white !important;
    }

    .select-icon .kubed-icon-dark {
      color: variables.$white;
    }
  }
}
