@use '~scss/variables';
@use '~scss/mixins';

.reason {
  display: inline-block;
  @include mixins.ellipsis;
  width: 100%;

  & > span {
    display: inline-block;
    vertical-align: middle;

    &:first-child {
      margin-right: 4px;
    }
    @include mixins.ellipsis;
    max-width: 90%;
  }

  :global {
    .tooltip {
      max-width: 320px;
    }
  }
}

.condition {
  .title {
    @include mixins.TypographySymbolText(variables.$white);

    & > span {
      display: inline-block;
      vertical-align: middle;

      &:first-child {
        margin-right: 4px;
      }
    }
  }

  & + .condition {
    margin-top: 8px;
  }
}

.warning {
  color: variables.$yellow-color04;
}

.error {
  color: variables.$red-color04;
}
