@use '~scss/variables';

.wrapper {
  display: flex;
  padding: 12px;
  border-radius: 2px;
  border: solid 1px variables.$border-color;
  background-color: variables.$white;

  & + .wrapper {
    margin-top: 12px;
  }

  & > div {
    min-width: 250px;
  }
}
