@use "../../styles/variables";
@use "../../styles/mixins";

.collapse {
  line-height: 1.67;
  font-size: variables.$size-small;
  border-radius: variables.$border-radius;

  ul {
    padding: 0;
    margin: 0;
  }

  li:first-child > :first-child {
    border-radius: variables.$border-radius variables.$border-radius 0 0;
  }

  &-item {
    &-label {
      position: relative;
      padding: 8px 20px;
      color: variables.$collapse-item-text;
      background-color: variables.$collapse-item-bg;
      font-weight: variables.$font-bold;
      line-height: 20px;
      cursor: pointer;

      .icon {
        right: 20px;
        @include mixins.vertical-center;
      }
      &-border-bottom {
        color: variables.$collapse-item-active-text;
        background-color: variables.$collapse-item-active-bg;
      }
      &-last-border-bottom {
        border-radius: 0 0 variables.$border-radius variables.$border-radius;
      }
    }
    &-content {
      padding: 12px;
      @include mixins.TypographyParagraph;
      background-color: variables.$collapse-content-bg;
      overflow: hidden auto;
      color: variables.$collapse-content-text;
      &-last-border-bottom {
        border-radius: 0 0 variables.$border-radius variables.$border-radius;
      }
    }
  }
  &-transition {
    overflow: hidden;
    transition: height 0.3s ease;
  }
}
