@use "sass:math";

@use "bulma/sass/utilities/_index.scss";
@use "bulma/sass/grid/columns.scss";
@use "bulma/sass/layout/level.scss";

@use "../../styles/variables";

$column-gap: variables.$base-margin !default;

.columns.is-variable {
  margin-right: calc(-1 * var(--columnGap));
  margin-left: calc(-1 * var(--columnGap));
  --columnGap: #{$column-gap};
  .column {
    padding-right: var(--columnGap);
    padding-left: var(--columnGap);
  }
  @for $i from 0 through 8 {
    &.is-#{$i} {
      --columnGap: #{math.div($i * $column-gap, 3)};
    }
  }
}
