@use '~scss/variables';

.wrapper {
  border-radius: variables.$border-radius;
  background-color: variables.$card-bg-color;
  padding: 12px;
  min-height: 600px;
}

.timeout {
  margin-top: 12px;
  padding: 12px;
  border-radius: variables.$border-radius;
  border: 1px solid variables.$border-color;
  background-color: variables.$white;
}

.endpoints {
  border-radius: variables.$border-radius;
  border: 1px solid variables.$border-color;
  background-color: variables.$white;
  padding: 12px;
}
