@use '~scss/variables';
@use '~scss/mixins';

.header {
  padding: 12px;
  background-color: variables.$light-color02;
  border: 1px solid variables.$border-color;
  border-radius: variables.$border-radius variables.$border-radius 0 0;

  span {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    @include mixins.TypographySymbolText;
  }
}

:global {
  .d2h-file-wrapper {
    border-radius: 0 0 variables.$border-radius variables.$border-radius;
    border-color: variables.$border-color;
    border-top-width: 0;
    background-color: variables.$white;
  }
  .d2h-file-header {
    display: none;
  }
  .d2h-code-line,
  .d2h-code-side-line {
    background-color: transparent !important;
  }
  .d2h-code-linenumber {
    background-color: rgba(variables.$light-color02, 0.8);
  }
  .d2h-file-diff .d2h-del.d2h-change {
    background-color: rgba(variables.$red-color01, 0.7);
  }
  .d2h-file-diff .d2h-ins.d2h-change {
    background-color: rgba(variables.$green-color01, 0.7);
  }
  .d2h-ins {
    background-color: rgba(variables.$green-color02, 0.7);
  }
  .d2h-code-line del,
  .d2h-code-side-line del {
    background-color: rgba(variables.$red-color02, 0.7);
  }
  .d2h-code-line ins,
  .d2h-code-side-line ins {
    background-color: rgba(variables.$green-color03, 0.7);
  }
}
