@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  position: relative;
  padding-bottom: 8px;
  background-color: #fff;
  border-radius: variables.$border-radius;
  box-shadow: variables.$base-shadow;
}

.header {
  position: relative;
  height: 44px;
  padding: 12px 12px 12px 40px;
  @include mixins.TypographyTitleH6(variables.$dark-color07);

  :global .icon {
    @include mixins.vertical-center;
    left: 12px;
  }
}

.tip {
  padding: 6px 12px;
  background-color: variables.$lightest;
  @include mixins.TypographyParagraph;

  & + .tip {
    margin-top: 4px;
  }
}
