@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  display: flex;

  :global {
    .icon {
      margin-right: 12px;
    }
    .kubed-icon-question {
      fill: variables.$blue-color03;
      color: variables.$white;
    }
  }
}

.text {
  & > div {
    @include mixins.TypographyTitleH6(variables.$dark-color07);
  }

  & > p {
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}
