@use '~scss/variables';
@use '~scss/mixins';

.confirmButton {
  float: right;
  margin-top: 12px;
}

.card {
  padding: 12px;
  border-radius: 4px;
  background-color: variables.$white;
  border: solid 1px variables.$light-color03;
  @include mixins.clearfix;
}

.error {
  margin: 12px 0px;
  color: variables.$red-color03;
}

.clickable {
  color: variables.$green;
  cursor: pointer;
  margin-left: 15px;
}
