@use '~scss/variables';

.ace_editor {
  line-height: 20px !important;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
  -webkit-font-smoothing: auto;
}

.ace_editor.ace-chaos {
  color: variables.$white;
  background-color: variables.$dark-color07;
}

.ace_editor.ace-chaos .ace_gutter {
  color: variables.$green-color03;
  background-color: variables.$dark-color07;
  border-right: 1px solid variables.$dark-color04;
}

.ace_editor.ace-chaos .ace_variable,
.ace_editor.ace-chaos .ace_identifier,
.ace_editor.ace-chaos .ace_meta.ace_tag {
  color: variables.$blue-color02;
}

.ace_editor.ace-chaos .ace_keyword {
  color: variables.$white;
}

.ace_editor.ace-chaos .ace_string {
  color: variables.$yellow-color02;
}

.ace_editor.ace-chaos .ace_constant.ace_numeric {
  color: variables.$red-color02;
}

.ace_editor.ace-chaos .ace_marker-layer .ace_active-line {
  background-color: variables.$dark-color06;
}

.ace_editor.ace-chaos .ace_indent-guide {
  border-right: 1px dotted variables.$dark-color01;
  padding: 2px 0;
}

.ace_editor.ace-chaos .ace_marker-layer .ace_selection {
  background-color: variables.$dark-color04;
}

.ace_editor.ace-chaos .ace_comment {
  color: variables.$light-color08;
}

.ace_editor.ace-chaos .ace_fold:hover {
  background-color: variables.$white;
}

.ace_editor.ace-chaos .ace_line .ace_fold {
  height: auto;
}

.ace_search {
  background-color: variables.$light-color01;
}

.ace_search.right {
  right: 12px;
}