@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  padding: 12px;
  border-radius: variables.$border-radius;
  background-color: variables.$card-bg-color;
}

.item {
  display: flex;
  padding: 12px;
  border: 1px solid variables.$border-color;
  border-radius: variables.$border-radius;
  background-color: variables.$white;

  & + .item {
    margin-top: 8px;
  }

  & > div {
    margin-right: 20px;
    min-width: 20%;

    &:first-of-type {
      flex: 1;
    }
  }
}

.empty {
  @include mixins.TypographyTitleH5(variables.$dark-color01);
}
