@use '~scss/variables';
@use '~scss/mixins';

.portsWrapper {
  padding: 12px;
  border-radius: 4px;
  background-color: variables.$lightest;
}

.ports {
  position: relative;
  padding: 12px;
  line-height: 20px;
  border-radius: 4px;
  background-color: variables.$white;
  border: 1px solid variables.$border-color;

  .port,
  .protocol {
    display: inline-block;
    vertical-align: middle;
    font-family: variables.$font-family-id;
    color: variables.$dark-color03;
    margin-right: 20px;
  }

  :global .icon {
    margin-right: 20px;
  }

  & + .ports {
    margin-top: 8px;
  }

  p {
    color: variables.$second-text-color;
  }

  strong {
    font-family: variables.$font-family-id;
    font-size: variables.$size-normal;
    font-weight: bold;
    line-height: 1.43;
    color: variables.$text-color;
  }
}

.access {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
