@use '~scss/variables';
@use '~scss/mixins';

.attributes {
  .item {
    padding: 6px 0;
    overflow: hidden;

    .name,
    .value {
      font-family: variables.$font-family-id;
      line-height: 20px;
    }

    .name {
      float: left;
      width: 140px;
      padding: 0 5px 0 0;
      color: variables.$dark-color03;
      vertical-align: top;
      @include mixins.break-all;

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
        word-break: break-word;
      }
    }

    .value {
      display: block;
      margin-left: 140px;
      color: variables.$text-color;
      @include mixins.break-all;
      white-space: pre-wrap;
    }
  }
}
