@use '~scss/variables';
@use '~scss/mixins';

.header {
  margin-bottom: 12px;
  border-radius: variables.$border-radius;
  box-shadow: variables.$head-shadow;

  .banner {
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
  }

  .nav {
    padding: 8px 12px;
    background-color: variables.$bg-color;
  }
}

.status {
  i {
    position: relative;
    top: 2px;
  }
}
