@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  padding: 12px;
  border-radius: variables.$border-radius;
  background-color: variables.$light-color01;
}

.title {
  margin-bottom: 8px;
  @include mixins.TypographySymbolText;
}

.content {
  border-radius: 3px;
  border: solid 1px variables.$border-color;
  background-color: variables.$bg-color;
  overflow: hidden;
}

.search {
  padding: 8px;
  background-color: variables.$white;
}

.list {
  padding: 8px;
  max-height: calc(100vh - 388px);
  min-height: 352px;
  overflow: scroll;
}

.authedList {
  padding: 8px;
  max-height: calc(100vh - 340px);
  min-height: 400px;
  overflow: scroll;
}

.footer {
  height: 32px;
  padding: 6px 8px;
  background-color: variables.$white;
  border-top: 1px solid variables.$border-color;
  box-sizing: border-box;

  & > span {
    margin-left: 4px;
  }
}
