@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  min-height: 100px;
  max-height: 232px;
  overflow: auto;
}

.group {
  margin-bottom: 12px;

  &Title {
    padding: 8px;
    user-select: none;
    @include mixins.TypographySymbolText(variables.$dark-color01);
  }

  .item {
    padding: 4px 12px;
    cursor: pointer;

    &:hover {
      background-color: variables.$dark-color06;
    }

    :global {
      .highlight {
        color: variables.$primary;
        font-weight: variables.$font-bold;
        text-decoration: underline;
      }
    }
  }

  :global {
    .is-focus {
      background-color: variables.$dark-color06;
    }
  }
}
