@use '~scss/variables';
@use '~scss/mixins';

.content {
  padding: 12px;
  border-radius: 4px;
  background-color: variables.$light-color01;

  .header {
    display: flex;
    margin-bottom: 12px;

    .search {
      width: 100%;
    }

    .actions {
      flex: 1 0 auto;

      :global {
        button {
          margin-left: 12px;

          &:hover {
            background-color: variables.$bg-color;
          }
        }
      }
    }
  }
}
