@use '~scss/variables';
@use '~scss/mixins';

.cluster {
  position: relative;
  width: 326px;
  padding: 8px;
  border-radius: 2px;
  background-color: variables.$dark-color07;
}

.content {
  padding: 12px;
  margin-top: 12px;
  border-radius: variables.$border-radius;
  background-color: variables.$light-color01;
}
