@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  border-radius: variables.$border-radius;
  background-color: #ffffff;
  box-shadow: variables.$base-shadow;
  margin-bottom: 12px;

  & > div {
    &:last-of-type {
      border-radius: 0 0 4px 4px;
    }
  }
}

.titleWrapper {
  position: relative;
  padding: 24px 20px 28px 20px;
  overflow: hidden;

  .icon {
    @include mixins.vertical-center;
    left: 20px;
    padding: 6px;
    border-radius: 100px;
    background-color: variables.$bg-color;
  }

  .title {
    padding-left: 72px;

    :global {
      .h3 {
        line-height: 32px;
      }
    }
  }
}

.more {
  margin-left: 12px;

  :global {
    .icon {
      margin-right: 4px;
      margin-top: -2px;
    }
  }

  & > a {
    @include mixins.TypographySymbolText(#3385b0);
  }
}

.tip {
  position: relative;
  padding: 12px 60px 12px 52px;
  background-color: #fff;
  border-top: 1px solid variables.$light-color03;
  cursor: pointer;

  &:hover {
    background-color: variables.$lightest;
  }

  &:last-of-type {
    border-radius: 0 0 4px 4px;
  }

  .tipIcon {
    position: absolute;
    top: 11px;
    left: 24px;
  }

  .operations {
    @include mixins.vertical-center;
    right: 20px;

    & > a + span,
    & > button + span {
      margin-left: 20px;
    }
  }

  .tipContent {
    & > div {
      @include mixins.TypographyTitleH6(variables.$dark-color07);
    }
    & > p {
      @include mixins.TypographyParagraph(variables.$dark-color01);
    }
  }
}

.tabsWrapper {
  padding: 6px 12px;
  background-color: variables.$bg-color;
}
