@use "../../styles/variables";
@use "../../styles/mixins";

.textarea {
  width: 376px;
  padding: 6px 12px;
  border-radius: variables.$border-radius;
  border: solid 1px variables.$input-border-color;
  background-color: variables.$white;
  box-sizing: border-box;
  @include mixins.TypographySymbolText;
  transition: all variables.$trans-speed ease-in-out;
  outline: none;
  caret-color: variables.$dark-color06;

  &::placeholder {
    font-weight: variables.$font-normal;
    color: variables.$dark-color03;
  }

  &:not([readonly]):not([disabled]):hover {
    border-color: variables.$input-hover-color;
  }

  &:not([readonly]):not([disabled]):focus {
    border-color: variables.$input-focus-color;
  }

  &[readonly],
  &[disabled] {
    background-color: variables.$light-color02;
  }

  &[readonly] {
    cursor: initial;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.textareaAuto {
  height: auto;
  overflow: hidden;
  transition: height 0s;
}
