@use '~scss/variables';

.table.table_rank.table_no_border {
  td {
    color: variables.$dark-color01;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 5px;
  }
  th {
    border-bottom: none;
    white-space: pre;
  }
  h3 {
    font-size: 14px;
    color: variables.$dark-color07;
    font-weight: bold;
  }
  td,
  th {
    padding: 10px 15px;
    border: none;
  }
  td {
    background: variables.$lightest;
  }
  td div {
    white-space: nowrap;
  }
  td:first-child {
    border-radius: 4px 0 0 4px;
  }
  td:last-child {
    border-radius: 0 4px 4px 0;
  }
  td.rankCol {
    background: variables.$green-color01;
  }
}

.table.table_rank.table_no_border.table_transparent {
  table {
    background: variables.$lightest;
    border-collapse: separate;
    border-spacing: 0 5px;
    padding: 0;
  }
  td {
    color: variables.$dark-color01;
  }
  td,
  th {
    border-bottom: none;
    padding: 5px 20px;
    border: none;
  }
  td {
    background: variables.$white;
  }
  td.rankCol {
    background: variables.$green-color01;
  }
}
