@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  position: relative;
  width: 100%;
}

.value {
  position: relative;
  height: 32px;
  padding: 5px 12px;
  margin-left: 12px;
  background-color: variables.$white;
  border: solid 1px variables.$light-color08;
  border-radius: variables.$border-radius;
  transition: all variables.$trans-speed ease-in-out;
  cursor: pointer;

  &:hover {
    border-color: variables.$dark-color01;
  }

  &.active {
    border-color: variables.$primary;
  }
}

.text {
  padding-left: 24px;
  @include mixins.TypographySymbolText;
}

.prefix {
  @include mixins.vertical-center;
  left: 12px;
}

.close {
  @include mixins.vertical-center;
  right: 6px;
  z-index: 999;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 9999;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.16);
  border-radius: variables.$border-radius;
  overflow: hidden;
}

.form {
  padding: 12px;
  background-color: variables.$white;
  min-width: 600px;

  .formContent {
    padding-bottom: 20px;
  }
}

.footer {
  background-color: variables.$card-bg-color;
  padding: 8px 12px;
  text-align: right;
}

.secrets {
  a {
    color: variables.$blue-color03;
  }
}
