@use '~scss/variables';

.wrapper {
  border-radius: 4px;
  border: solid 1px variables.$dark-color06;
  box-shadow: none;
  padding: 5px 11px;

  &:hover {
    background-color: variables.$dark-color06;
  }
}

.danger {
  border-color: transparent;

  &:hover {
    background-color: variables.$red-color03;
  }
}
