@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  position: relative;
  padding: 0 12px;
  padding-right: 170px;
  background-color: #fff;
  border-radius: variables.$border-radius;
  box-shadow: variables.$base-shadow;
}

.header {
  position: relative;
  height: 64px;
  padding: 12px 0 12px 52px;

  :global .icon {
    @include mixins.vertical-center;
    left: 0;
  }
}

.text {
  padding: 12px;
  height: 64px;
  background: variables.$light-color01;
  border-radius: 4px;
  overflow: hidden;

  & > div {
    @include mixins.TypographyTitleH6(variables.$dark-color07);
    @include mixins.ellipsis;
  }

  & > p {
    @include mixins.TypographyParagraph(variables.$dark-color01);
    @include mixins.ellipsis;
  }
}

.content {
  display: flex;
  padding: 8px;
  border-radius: variables.$border-radius variables.$border-radius 0 0;
  background-color: variables.$lightest;
}

.background {
  position: absolute;
  top: 0;
  right: 12px;
  width: 138px;
  height: 120px;
}
