@use '~scss/variables';
@use '~scss/mixins';

.title {
  @include mixins.TypographySymbolText();
  margin-bottom: 8px;
}

.content {
  padding: 12px;
  background-color: variables.$white;
  border: 1px solid variables.$border-color;
  border-radius: 2px;
}
