@use "~scss/variables";
@use "~scss/mixins";

.password {
  width: 455px;
}

.textarea {
  :global .textarea {
    max-width: 640px;
  }
}

.option {
  overflow: hidden;

  & > div {
    @include mixins.TypographyTitleH6(variables.$white);
  }

  & > p {
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}
