@use '~scss/variables';

.wrapper {
  padding: 38px 72px;
  border-radius: variables.$border-radius;
  background-color: variables.$white;
  box-shadow: variables.$base-shadow;
  text-align: center;

  img {
    margin-bottom: 20px;
  }
}

.desc {
  margin-bottom: 12px;
  line-height: 20px;
  text-align: center;
  color: #14215a;
}
