@use '~scss/variables';
@use '~scss/mixins';

.capacity {
  h3 {
    @include mixins.TypographyTitleH6();
  }

  small {
    color: variables.$dark-color01;
    margin-left: 0.3em;
  }

  p {
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}

.status {
  vertical-align: middle;
  color: variables.$white !important;
}
