@use '~scss/variables';

.status {
  display: inline-block;
  font-family: variables.$font-family-id;
  line-height: 12px;
  font-weight: bold;
  vertical-align: middle;
}

.icon {
  float: left;
  height: 12px;
  width: 12px;
  margin-right: 8px;
  background: variables.$white;
  border-radius: 50%;

  .draft {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: variables.$white;
    border: 2px solid variables.$light-color08;
    border-radius: 50%;
  }

  .review {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: variables.$white;
    border: 2px solid variables.$green-color03;
    border-radius: 50%;
  }

  .passed {
    position: relative;
    top: -2px;
    left: -2px;
    svg {
      color: variables.$white;
      fill: variables.$green;
    }
  }

  .suspended {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: variables.$yellow;
    border-radius: 50%;

    .substract {
      svg {
        color: variables.$white;
      }
    }
  }

  .deleted {
    position: relative;
    top: -2px;
    left: -2px;
    svg {
      color: variables.$white;
      fill: variables.$red-color03;
    }
  }
}
