@use '~scss/variables';
@use '~scss/mixins';

.breadcrumb {
  height: 20px;
  font-family: variables.$font-family-id;

  a, span {
    display: inline-block;
    vertical-align: middle;
    color: variables.$second-title-color;
  }

  a:hover {
    color: variables.$primary;
  }

  .back {
    & > svg {
      margin-top: 2px;
      margin-right: 12px;
      vertical-align: text-bottom;
    }
  }

  .split {
    margin: 0 6px;
  }
}