@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  border-radius: variables.$border-radius;
  background-color: #ffffff;
  box-shadow: variables.$base-shadow;
}

.contentHeader {
  padding: 10px 24px;
  background-color: variables.$card-bg-color;
  box-shadow: 0 1px 0 0 #deebf6;
  border-top-left-radius: variables.$border-radius;
  border-top-right-radius: variables.$border-radius;
  color: #fff;
  &.hasSelected {
    background-color: variables.$dark;
  }
}
.content {
  padding: 12px;
}
.container {
  background-color: variables.$card-bg-color;
  border-radius: variables.$border-radius;
  padding: 12px;
  height: calc(100vh - 300px);
  min-height: 560px;
  display: flex;
}
