@use '~scss/variables';
@use '~scss/mixins';

.ports {
  padding: 20px 40px;
  line-height: 20px;
  border-radius: 4px;
  background-color: variables.$lightest;

  & > div {
    display: inline-block;
    vertical-align: middle;
    font-family: variables.$font-family-id;
    color: #4a5aa2;

    & + div {
      margin-left: 20px;
    }
  }

  & + .ports {
    margin-top: 8px;
  }

  p {
    color: variables.$second-text-color;
  }

  strong {
    font-family: variables.$font-family-id;
    font-size: variables.$size-normal;
    font-weight: bold;
    line-height: 1.43;
    color: variables.$text-color;
  }
}

.card {
  padding: 20px;
  border-radius: 4px;
  background-color: variables.$lightest;
  transition: all variables.$trans-speed ease-in-out;

  & + .card {
    margin-top: 8px;
  }
}

.content {
  position: relative;
  margin-bottom: 12px;

  & > svg {
    vertical-align: middle;
  }
}

.title {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-family: variables.$font-family-id;
  font-size: variables.$size-normal;
  font-weight: variables.$font-bold;
  line-height: 1.43;
  color: variables.$text-color;
  vertical-align: middle;

  & > div {
    font-size: variables.$body-size;
    color: #707fc9;
    font-weight: variables.$font-normal;

    span + span {
      margin-left: 100px;
    }
  }
}

.path {
  position: relative;
  padding: 12px 20px;
  border-radius: 22px;
  background-color: variables.$bg-color;
  border: solid 1px variables.$border-color;

  & + .path {
    margin-top: 8px;
  }

  .access {
    right: 6px;
    @include mixins.vertical-center;
  }

  span {
    text-align: left;
    color: variables.$second-text-color;

    strong {
      font-family: variables.$font-family-id;
      font-size: variables.$size-normal;
      line-height: 1.43;
      color: variables.$text-color;
    }
  }
}

.tip {
  position: absolute;
  top: 24px;
  right: 12px;
}
