@use '~scss/variables';

.card {
  padding: 12px;
  margin-top: 12px;
  border-radius: 4px;
  background-color: variables.$white;
  border: solid 1px variables.$light-color03;
}

.clickable {
  color: variables.$green;
  cursor: pointer;
  margin-left: 15px;
}
