@use '~scss/variables';

.wrapper {
  & > li {
    position: relative;
    display: flex;
    padding: 20px;
    border-radius: 4px;
    border: solid 1px variables.$border-color;
    background-color: variables.$white;

    & + li {
      margin-top: 12px;
    }

    &.selected {
      border: solid 1px variables.$blue-color03;
      background-color: rgba(199, 222, 239, 0.1);
    }

    .text {
      margin-left: 20px;
    }

    .button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
  }
}
