@use '~scss/variables';

.wrapper {
  width: 140px;

  :global {
    .select-control {
      background-color: variables.$text-color;
      border: solid 1px variables.$dark-color06;
      border-color: variables.$dark-color06 !important;
      box-shadow: none !important;
      transition: all variables.$trans-speed ease-in-out;

      &:hover {
        background-color: variables.$dark-color06;
      }
    }

    .select-value {
      color: variables.$white;
    }

    .kubed-icon-dark {
      color: rgba(255, 255, 255, 0.9);
      fill: rgba(255, 255, 255, 0.4);
    }

    .select-options {
      background-color: variables.$white;

      .select-option {
        color: variables.$text-color;

        &:hover,
        &.select-option-active {
          background-color: variables.$light-color02;
        }
      }
    }
  }
}
