/** @format */

@use "../../styles/variables";
@use "../../styles/mixins";

.tag {
	display: inline-block;
	height: 20px;
	padding: 0 4px;
	font-size: variables.$size-small;
	line-height: 20px;
	font-weight: 600;
	border-radius: 2px;

	&-default {
		color: variables.$white;
		background-color: variables.$dark-color07;
	}

	&-secondary {
		color: variables.$dark-color06;
		background-color: variables.$light-color03;
	}

	&-warning {
		color: variables.$yellow-color05;
		background-color: variables.$yellow-color01;
	}

	&-primary {
		color: variables.$green-color05;
		background-color: variables.$green-color01;
	}

	&-info {
		color: variables.$blue-color05;
		background-color: variables.$blue-color01;
	}

	&-critical {
		color: variables.$white;
		background-color: variables.$red-color03;
	}

	&-error {
		color: variables.$white;
		background-color: variables.$yellow-color03;
	}
}
