@use "../../styles/variables";
@use "../../styles/mixins";

.tooltip {
  max-width: variables.$tooltip-max-width;
  background: transparent;
  box-shadow: variables.$tooltip-box-shadow;
  line-height: 1.7143;
  z-index: 1000;

  .popper-arrow {
    background-color: variables.$tooltip-background;
  }

  .tooltip-content {
    padding: 12px;
    background: variables.$tooltip-background;
    border-radius: variables.$border-radius;
    color: variables.$tooltip-color;
  }

  &-title {
    margin-bottom: 8px;
    @include mixins.TypographySymbolText;
    color: variables.$white;
  }
  &-desc {
    @include mixins.TypographyParagraph;
  }
}
