@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  height: 153px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    @include mixins.TypographyTitleH2();
  }
  p {
    @include mixins.TypographySymbolText();
  }
}
