@use '~scss/variables';

.img {
  position: relative;
  border: 1px solid variables.$dark-color07;
  border-radius: 4px;
  align-self: center;

  & > span {
    position: relative;
    top: auto;
    transform: translateY(0);
  }
}
