@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  padding: 12px;
  border-radius: 4px;
  background-color: variables.$lightest;
}

.title {
  text-align: center;
  margin-bottom: 32px;

  :global {
    .h4 {
      margin-bottom: 12px;
      line-height: 1.4;
      text-shadow: 0 4px 8px rgba(variables.$dark-color07, 0.1);
    }
  }

  p {
    color: variables.$dark-color03;
  }
}

.contentWrapper {
  height: 376px;
  overflow: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: variables.$white;
  border: solid 1px variables.$light-color03;
}

.option {
  overflow: hidden;

  & > div {
    @include mixins.TypographyTitleH6(variables.$white);
  }

  & > p {
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}

.selectOption {
  display: flex;

  .text {
    display: inline-block;
    flex: 1;
  }
}
