@use '~scss/variables';

.values {
  & > li {
    padding: 12px 32px;
    border-radius: 60px;
    background-color: variables.$bg-color;
    border: solid 1px variables.$border-color;
    font-family: variables.$font-family-id;

    & + li {
      margin-top: 8px;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;

    & + span {
      margin-left: 75px;
    }
  }

  .title {
    width: 317px;
    color: variables.$dark-color01;
  }
}
