@use '~scss/variables';

.wrapper {
  border-radius: 2px;
  border: solid 1px variables.$border-color;
  padding: 12px;
  background-color: variables.$white;

  & + .wrapper {
    margin-top: 12px;
  }
}
