@use '~scss/variables';

.wrapper {
  margin-bottom: 12px;
  h6 {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: variables.$dark-color07;
    margin-bottom: 8px;
  }

  &_item {
    background: variables.$light-color01;
    border-radius: 4px;
    padding: 12px;

    &_com {
      margin-bottom: 12px;
    }
  }

  .columns {
    display: flex;

    .column {
      flex: 1 1;
      padding: 12px;
      border: 1px solid variables.$light-color06;
      background: variables.$white;
      border-radius: 4px;
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .checkbox_item {
    display: flex;
    padding: 12px;
    background: variables.$white;
    border: 1px solid variables.$light-color06;
    border-radius: 4px;

    :global {
      .checkbox {
        margin-top: 2px;
        height: 20px;
      }
    }

    .checkbox_item_info {
      font-size: 12px;
      line-height: 20px;
      margin-left: 12px;
      p {
        font-weight: 600;
        color: variables.$dark-color07;
      }
    }
  }
  .array_checkbox_item {
    min-width: 150px;
    align-self: center;
  }
  .align_center {
    align-self: center;
  }
}
