@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  position: relative;
  display: flex;
}

.text {
  flex: 1;
  & > div:first-child {
    @include mixins.TypographyTitleH6(variables.$dark-color07);
  }

  & > div:last-child {
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}

.ellipsis {
  flex: 1;
  overflow: hidden;

  .text {
    flex: 1;
    overflow: hidden;

    & > div {
      @include mixins.ellipsis;
    }
  }
}

.icon {
  margin-right: 12px;
}

.clickable {
  cursor: pointer;

  &:hover {
    .text {
      & > div {
        color: variables.$primary;
      }
    }
    .icon {
      :global .kubed-icon {
        color: variables.$green-color03;
        fill: variables.$green-color04;
      }
    }
  }
}
