@use '~scss/variables';
@use '~scss/mixins';

.preview {
  position: relative;
  padding: 8px 12px;
  border-radius: variables.$border-radius;
  background-color: variables.$light-color03;

  .item {
    @include mixins.TypographyParagraph;
  }

  .edit {
    position: absolute;
    @include mixins.vertical-center;
    right: 12px;
    color: variables.$blue-color03;
  }
}
