@use '~scss/variables';
@use '~scss/mixins';

.container {
  height: 148px;
  border-radius: 4px;
  background-color: variables.$white;
  margin-bottom: 12px;
}

.selectContainer {
  height: 148px;
  padding-top: 32px;
  background: variables.$light-color01;
  border-radius: 4px;
  border: dashed 1px variables.$light-color06;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;

  .icon {
    width: 40px;
    height: 40px;
    padding: 4px;
    margin-right: 12px;
  }

  .title {
    height: 20px;
    @include mixins.TypographyTitleH6;
  }

  .desc {
    height: 20px;
    @include mixins.ellipsis;
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}

.uploadContainer {
  display: flex;
  height: 56px;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px variables.$border-color;
  background-color: variables.$white;
  box-sizing: border-box;

  .icon {
    height: 32px;
    width: 32px;
    padding: 4px;
    margin-right: 8px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .uploadingContent {
    flex-grow: 1;
    height: 100%;

    .fileInfo {
      height: 20px;

      .fileName {
        height: 20px;
        @include mixins.TypographyTitleH6;
      }

      .uploadText {
        margin-right: 5px;
        float: right;
        @include mixins.TypographyParagraph(variables.$dark-color01);
      }
    }

    .progress {
      height: 8px;
      padding-top: 6px;
      display: block;

      :global(.lego-progress-inner) {
        height: 8px;
        border-radius: 2px;
        background-color: variables.$light-color02;
      }

      :global(.lego-progress-bg) {
        height: 8px;
        border-radius: 2px;
        background-color: variables.$primary;
      }
    }
  }

  .uploadIcon {
    cursor: pointer;
    flex-basis: 32px;
    height: 32px;
    padding: 4px;
    margin-left: 4px;
  }
}

.none {
  display: none;
}
