@use '~scss/variables';
@use '~scss/mixins';

.item {
  margin-left: 12px;
  flex: 1;

  & > div {
    @include mixins.TypographyTitleH6(variables.$dark-color07);
  }

  & > p {
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}

.content {
  display: flex;
  justify-content: flex-start;
  padding: 8px 12px;
  overflow: auto;
}

.contentItem {
  display: flex;
  flex: 1;
}
