@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  width: 420px;
}

.step {
  margin: 20px 0;
  & > div {
    @include mixins.TypographyTitleH4(variables.$dark-color08);
  }
  & > p {
    margin-top: 4px;
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}

.upload {
  margin-top: 20px;
}
