@use '~scss/variables';

.body {
  :global {
    .h5 {
      font-weight: variables.$font-normal;
      line-height: 2;
      color: variables.$title-color;
      text-shadow: 0 2px 4px rgba(72, 91, 127, 0.2);
    }

    p {
      margin-top: 20px;
      color: variables.$third-text-color;
    }
  }
}
