@use '~scss/variables';
@use '~scss/mixins';

.modalHeader {
  padding: 20px;
  padding-bottom: 0;
  border-bottom: none;
  background-color: variables.$white;

  :global .kubed-icon-question {
    fill: variables.$red-color04;
    color: variables.$white;
  }
}

.modalBody {
  padding: 0;
}

.body {
  padding: 20px;
  margin-top: -8px;
}

.resources {
  padding: 12px;
  border-radius: variables.$border-radius;
  background-color: variables.$card-bg-color;

  .resource {
    padding: 8px 12px;
    border-radius: variables.$border-radius;
    background-color: variables.$white;
    cursor: pointer;

    &.selected {
      background-color: variables.$dark-color07;

      .resourceName {
        color: variables.$white;
      }

      .resourceType {
        color: variables.$white;
      }
    }

    :global .icon {
      margin-left: 12px;
    }

    & + .resource {
      margin-top: 4px;
    }

    &Name {
      margin-left: 8px;
      @include mixins.TypographySymbolText;
    }

    &Type {
      margin-left: 8px;
      @include mixins.TypographyParagraph(variables.$dark-color01);
    }
  }
}

.footer {
  padding: 16px 20px;
  border-radius: 0 0 4px 4px;
  background-color: variables.$lightest;
  text-align: right;

  button {
    margin-left: 10px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.empty {
  padding: 40px 15px;
  background-color: variables.$card-bg-color;
  box-shadow: none;
}
