@use '~scss/mixins';
@use '~scss/variables';

.apps {
  padding: 8px;

  .app {
    position: relative;
    align-items: center;
    height: 64px;
    padding: 12px;
    background-color: variables.$lightest;
    border-radius: variables.$border-radius;
    cursor: pointer;

    .icon {
      float: left;
      display: inline-block;
      margin-right: 12px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: variables.$bg-color;
    }

    .title {
      & > div {
        @include mixins.TypographyTitleH6(variables.$dark-color07);
        transition: all variables.$trans-speed ease-in-out;
      }

      & > p {
        @include mixins.TypographyParagraph(variables.$dark-color01);
        @include mixins.ellipsis;
      }

      &:hover {
        & > div {
          color: variables.$primary;
        }
      }
    }
  }
}

.more {
  position: absolute;
  top: 0;
  right: 0;
  color: variables.$sub;
}
