@use '~scss/variables';

.wrapper {
  padding: 12px;
  background-color: variables.$lightest;
  border-bottom: 1px solid variables.$border-color;
}

.chartWrapper {
  position: relative;
  background-color: variables.$dark-color07;
  border-radius: variables.$border-radius;
}

.chart {
  height: 120px;
}

.title {
  position: absolute;
  left: 12px;
  top: 6px;
  color: #fff;
  font-weight: variables.$font-bold;
  line-height: 20px;
}
