@use '~scss/variables';
@use '~scss/mixins';

.tab {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  &.active {
    .info {
      color: variables.$white;
    }
  }

  .info {
    width: calc(100% - 60px);
    margin-left: 20px;
    color: #2c3a7c;

    .title {
      font-size: variables.$size-small;
      font-weight: 600;
      line-height: 1.67;
    }

    p {
      height: 32px;
      line-height: 32px;
      font-size: 20px;
      font-weight: 600;
      @include mixins.ellipsis;

      span {
        font-size: variables.$size-small;
      }
    }
  }
}
