@use "../../styles/variables";

.badge-wrapper {
  position: relative;
  width: max-content;

  > span.badge {
    display: inline-block;
    height: 20px;
    padding: 0 8px;
    border-radius: 12px;
    color: variables.$white;
    font-size: variables.$body-size;
    line-height: 20px;

    &:hover {
      cursor: pointer;
    }

    &.is-error {
      background-color: variables.$error;
    }
    &.is-success {
      background-color: variables.$success;
    }
    &.is-warning {
      background-color: variables.$warning;
    }
    &.is-default {
      background-color: variables.$dark-color01;
    }
  }
}
