@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  position: relative;
}

.name {
  margin: 0 8px;
  @include mixins.TypographyTitleH6(variables.$white);
}

.options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  z-index: 10;
  & > .option {
    border-radius: 0;
  }
}

.option {
  position: relative;
  padding: 8px;
  padding-right: 55px;
  border-radius: 2px;
  background-color: variables.$dark-color07;
  color: variables.$white;
  cursor: pointer;
}

.indicator {
  @include mixins.vertical-center;
  right: 12px;
}
