@use '~scss/variables';
@use '~scss/mixins';

.empty {
  padding: 32px 0;
  text-align: center;

  .icon {
    display: inline-block;
    padding: 10px;
    border-radius: 100px 0 100px 100px;
    background-color: variables.$bg-color;
  }

  .text {
    margin-top: 12px;
    & > div {
      font-size: variables.$size-normal;
      font-weight: variables.$font-bold;
      line-height: 20px;
    }

    & > p {
      margin: 0 auto;
      width: 520px;
      color: variables.$dark-color01;
    }
  }
}
