@use '~scss/variables';
@use '~scss/mixins';

.container {
  ul {
    margin-top: 8px;

    & > li {
      height: 44px;
      padding: 12px 32px;
      border-radius: 60px;
      background-color: variables.$bg-color;
      border: solid 1px variables.$border-color;
      font-family: variables.$font-family-id;
      display: flex;

      & + li {
        margin-top: 8px;
      }

      & > span {
        display: inline-block;
        flex: 1;
        @include mixins.TypographyParagraph(variables.$dark-color01);

        & + span {
          margin-left: 20px;
          @include mixins.TypographyTitleH6(variables.$dark-color07);
        }
      }
    }
  }
}
