@use '~scss/variables';
@use '~scss/mixins';

.header {
  position: relative;
  margin: 30px 0 12px;
  color: variables.$title-color;
  font-weight: bold;
}

.readmeEdit {
  :global {
    .for-container {
      box-shadow: variables.$base-shadow;
      border-color: variables.$border-color;
      border-radius: variables.$border-radius;

      .for-toolbar {
        border-color: variables.$border-color;
        color: variables.$title-color;
        font-weight: bold;
        font-size: 16px;
        background-color: variables.$bg-color;
        border-radius: variables.$border-radius variables.$border-radius 0 0;

        ul > li {
          &:hover {
            background-color: variables.$light-color03;
          }

          &.for-active {
            background-color: variables.$light-color04;
          }
        }
      }

      .for-editor {
        color: variables.$text-color;
        border-radius: 0 0 variables.$border-radius variables.$border-radius;

        .for-editor-edit {
          .for-line-num {
            width: 46px;
            padding: 12px 0;
            line-height: 24px;
            background-color: variables.$bg-color;
            color: variables.$dark-color02;
            border-right: 1px solid variables.$border-color;
          }

          .for-editor-content {
            margin: 0 16px;
          }

          textarea {
            padding: 12px 0;
            line-height: 24px;
            font-size: 12px;
          }
        }
      }

      .for-markdown-preview {
        img {
          display: initial;
        }
      }
    }

    .for-fullscreen {
      width: 100%;
      border: none;
      border-radius: 0;

      .for-toolbar {
        border-radius: 0;
      }

      .for-editor {
        border-radius: 0;
      }
    }
  }
}
