@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  width: 916px;
  margin: 0 auto;
}

.step {
  margin: 20px 0;
  & > div {
    @include mixins.TypographyTitleH4(variables.$dark-color08);
  }
  & > p {
    margin-top: 4px;
    @include mixins.TypographyParagraph(variables.$dark-color01);
  }
}

.codeWrapper {
  padding: 12px;
  background-color: variables.$card-bg-color;
  border-radius: variables.$border-radius;
}

.pane {
  padding: 12px;
  border-radius: variables.$border-radius;
  border: solid 1px variables.$border-color;
  background-color: variables.$white;
}

.editor {
  height: calc(100vh - 340px);
  min-height: 500px;

  & > div {
    height: 100%;
  }
}

.title {
  @include mixins.TypographySymbolText;
  margin-bottom: 12px;

  & > span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
}
