@use '~scss/variables';

.taints {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  margin-left: 8px;
  padding: 0 6px;
  line-height: 20px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(variables.$dark-color07, 0.2);
  background-color: variables.$dark-color08;
  text-align: center;
  font-weight: bold;
  color: variables.$white;
  cursor: pointer;

  &:hover {
    box-shadow: none;
  }
}

.overview {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.resource {
  & > span {
    display: inline-block;
    vertical-align: middle;
  }

  :global .kubed-icon-dark {
    color: variables.$white;
    fill: #ea4641;
  }
}

.secondary {
  color: variables.$dark-color06;
  font-weight: normal;
  font-size: 12px;
  margin-left: 4px;
  color: variables.$dark-color01;
}

.mode_title {
  display: flex;
  align-items: center;

  .question {
    margin-left: 6px;
  }
}
