@use 'variables' as *;
:export {
  darkColor01: $dark-color01;
  darkColor02: $dark-color02;
  darkColor03: $dark-color03;
  darkColor04: $dark-color04;
  darkColor05: $dark-color05;
  darkColor06: $dark-color06;
  darkColor07: $dark-color07;
  darkColor08: $dark-color08;
  lightColor01: $light-color01;
  lightColor02: $light-color02;
  lightColor03: $light-color03;
  lightColor04: $light-color04;
  lightColor05: $light-color05;
  lightColor06: $light-color06;
  lightColor07: $light-color07;
  lightColor08: $light-color08;
  greenColor01: $green-color01;
  greenColor02: $green-color02;
  greenColor03: $green-color03;
  greenColor04: $green-color04;
  greenColor05: $green-color05;
  blueColor01: $blue-color01;
  blueColor02: $blue-color02;
  blueColor03: $blue-color03;
  blueColor04: $blue-color04;
  blueColor05: $blue-color05;
  redColor01: $red-color01;
  redColor02: $red-color02;
  redColor03: $red-color03;
  redColor04: $red-color04;
  redColor05: $red-color05;
  yellowColor01: $yellow-color01;
  yellowColor02: $yellow-color02;
  yellowColor03: $yellow-color03;
  yellowColor04: $yellow-color04;
  yellowColor05: $yellow-color05;
  white: $white;
  black: $black;
}
