@use '~scss/variables';
@use '~scss/mixins';

.editorWrapper {
  margin-top: 12px;
  padding: 12px;
  border-radius: variables.$border-radius;
  background-color: variables.$light-color01;
}

.editor {
  padding: 8px;
  border-radius: variables.$border-radius;
  border: solid 1px variables.$light-color06;
  background-color: #ffffff;
}

.editorTitle {
  margin: 4px 0 12px 0;
  @include mixins.TypographyTitleH6(variables.$dark-color07);
  :global .icon {
    margin-right: 8px;
  }

  & > span {
    display: inline-block;
    vertical-align: middle;
  }
}

.tip {
  margin-top: 12px;
  padding: 12px;
  border-radius: variables.$border-radius;
  border: solid 1px variables.$border-color;
  background-color: variables.$card-bg-color;
  @include mixins.TypographyParagraph;
}

.link {
  float: right;
  color: variables.$blue-color04;

  &:hover {
    color: variables.$blue-color04;
  }
}
