@use '~scss/variables';
@use '~scss/mixins';

.group {
  padding: 12px;
  margin: 12px 0;
  border: 1px solid variables.$border-color;
  border-radius: variables.$border-radius;

  :global {
    .input-number.has-addons input {
      width: 275px !important;
    }
  }
}

.title {
  margin-bottom: 12px;
  @include mixins.TypographyTitleH6;
}

.description {
  @include mixins.TypographyParagraph;
}

.boolean {
  display: flex;
  align-items: flex-start;

  :global .toggle {
    margin-right: 8px;
    margin-top: 2px;
  }
}
.arrayField {
  // position: relative;
  display: inline-block;
  width: 100%;
}
.addButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -30px;
  margin-right: 8px;
  z-index: 1;
}
.parentGroup {
  margin: 20px 0;
}
