@use '~scss/variables';

.wrapper {
  display: flex;
  width: 920px;
  padding: 8px;
  border-radius: 4px;
  background-color: variables.$white;
  border: solid 1px variables.$border-color;
  overflow: auto;
}
