@use '~scss/variables';
@use '~scss/mixins';

.wrapper {
  position: relative;

  & > div:first-child {
    margin-top: 6px;
    padding: 4px 8px;
    border-radius: 2px;
    background-color: variables.$dark-color06;

    @include mixins.TypographyParagraph(#fff);
  }

  &.selected > div:first-child {
    background-color: variables.$green-color04;
  }
}
