@use '~scss/variables';
@use '~scss/mixins';

.body {
  padding: 0;
  overflow: hidden;
  max-height: none;
}

.switch {
  position: absolute;
  top: 50%;
  right: 72px;
  transform: translateY(-50%);
}

.close {
  position: absolute;
  @include mixins.vertical-center;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: variables.$border-radius;
  background-color: variables.$dark-color07;
  cursor: pointer;
}
