@use '~scss/variables';

.card {
  position: relative;
  width: 200px;
  padding-top: 20px;

  &.error {
    .type {
      background-color: variables.$red-color03;
    }
    .wrapper {
      border: solid 1px variables.$red-color03;
    }
  }
}

.wrapper {
  padding: 20px 12px 12px;
  border-radius: variables.$border-radius;
  box-shadow: 0 4px 8px 0 rgba(variables.$dark-color07, 0.06);
  background-color: variables.$white;
}

.detail {
  padding: 8px;
  border-radius: 4px;
  background-color: variables.$lightest;

  & > p {
    font-family: variables.$font-family-id;
    font-weight: variables.$font-bold;
    line-break: 1.67;

    :global .icon {
      margin-top: -2px;
      margin-right: 12px;
    }

    & + p {
      margin-top: 2px;
    }
  }
}

.gatewayName {
  font-family: variables.$font-family-id;
  font-weight: variables.$font-bold;
  line-height: 1.67;

  :global .icon {
    margin-right: 10px;
  }
}

.workload {
  margin-top: 12px;
  padding: 2px 8px 2px 2px;
  border-radius: 3px;
  background-color: variables.$bg-color;
  font-family: variables.$font-family-id;
  font-weight: variables.$font-bold;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;

  & > span {
    &:first-child {
      display: inline-block;
      padding: 0 6px;
      margin-right: 6px;
      border-radius: 1px;
      background-color: variables.$dark-color06;
      text-shadow: 0 2px 4px rgba(variables.$dark-color07, 0.1);
      font-weight: variables.$font-bold;
      line-height: 16px;
      color: variables.$white;
    }
  }
}

.type {
  position: absolute;
  width: 92px;
  top: 0;
  left: 50%;
  padding: 4px 12px;
  font-weight: variables.$font-bold;
  line-height: 1.67;
  color: variables.$white;
  border-radius: 16px;
  background-color: variables.$dark-color07;
  transform: translateX(-50%);
  text-align: center;

  :global .icon {
    margin-top: -2px;
    margin-right: 4px;
  }
}
