@use '~scss/variables';
@use '~scss/mixins';

.header {
  border-bottom: none;
  background-color: variables.$white;

  img {
    transform: translateY(4px);
  }
}

.body {
  padding: 0px;
}

.tipBox {
  background: variables.$red-color05;
  border-radius: 4px;
  padding: 12px;

  .title {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: variables.$red-color01;
  }

  .des {
    font-size: 12px;
    line-height: 20px;
    color: variables.$red-color01;
  }

  ul {
    li {
      padding-left: 2em;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 0.4em;
        height: 0.4em;
        border-radius: 50%;
        background-color: variables.$black;
        left: 1em;
        top: 0.6em;
        transform: translateX(-50%);
      }
    }
  }
}

.cluster {
  margin-top: 12px;
  border: 1px solid variables.$light-color04;
  border-radius: 4px;
  padding: 12px;

  .header {
    :global {
      .icon {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          right: 2px;
          bottom: 2px;
          background: variables.$green-color03;
          border-radius: 50%;
        }

        &::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          right: 0px;
          bottom: 0px;
          background: variables.$green-color03;
          border-radius: 50%;
          opacity: 0.16;
        }
      }
    }

    .clusterTitle {
      display: flex;

      span {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: variables.$dark-color07;
      }

      label {
        margin-left: 12px;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: variables.$yellow-color01;
        background: variables.$yellow-color05;
        border-radius: 2px;
        padding: 0px 4px;
      }
    }
  }

  .info {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      width: 264px;
      padding: 8px;
      background: variables.$light-color01;
      border-radius: 4px;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;

      .label {
        color: variables.$dark-color01;
        margin-right: 0.5em;
      }

      .value {
        font-weight: 600;
        color: variables.$dark-color07;
      }

      &:nth-of-type(4n + 1),
      &:nth-of-type(4n + 2) {
        margin-bottom: 8px;
      }
    }
  }
}

.confirmInput {
  margin-top: 12px;
  padding: 12px;
  background: variables.$light-color01;
  border-radius: 4px;
  margin-bottom: 20px;

  input {
    max-width: none;
    width: 100%;
  }

  p {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: variables.$dark-color07;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 14px 20px;
  background: variables.$light-color01;
}
