@use '~scss/variables';

.wrapper {
  :global .h6 {
    margin-bottom: 8px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 4px;
      vertical-align: bottom;
    }
  }
}

.contentWrapper {
  position: relative;
  padding: 12px;
  border-radius: 4px;
  background-color: variables.$lightest;
}

.card {
  padding: 12px;
  border-radius: variables.$border-radius;
  border: 1px solid variables.$border-color;
  background-color: variables.$white;
}

.title {
  margin-bottom: 4px;
}
