@use '~scss/variables';
@use '~scss/mixins';

.value {
  position: relative;
  display: inline-block;
  padding: 1px 20px 1px 4px;
  background-color: variables.$dark-color07;
  border-radius: 4px;

  .label {
    display: block;
    @include mixins.ellipsis;
    @include mixins.TypographySymbolText(#fff);
  }
}

.options {
  padding: 0 !important;
}

.rightIcon {
  @include mixins.vertical-center;
  right: 4px;
}
