@use '~scss/variables';
@use '~scss/mixins';

variables.$trans-speed: 0.2s;

.subNav {
  & > p {
    color: variables.$dark-color01;
    margin-bottom: 12px;
  }

  & > ul {
    margin-bottom: 20px;

    & > li {
      border-radius: 18px;
      border: solid 1px transparent;
      transition: all variables.$trans-speed ease-in-out;

      & > a,
      .title {
        display: block;
        padding: 7px 12px;
        color: variables.$dark-color04;
        font-weight: 500;
        cursor: pointer;

        @media (max-width: 1366px) {
          padding: 7px 0;
        }

        :global {
          .icon {
            margin-right: 8px;
            vertical-align: text-bottom;
          }

          .kubed-icon-chevron-down {
            margin-top: 4px;
            transition: all variables.$trans-speed ease-in-out;
          }
        }
      }

      &.select,
      &.open {
        & > a {
          color: variables.$primary;

          :global .kubed-icon {
            color: variables.$green-color03;
            fill: variables.$green-color04;
          }
        }

        .title {
          :global .kubed-icon-chevron-down {
            transform: rotate(-180deg);
          }
        }

        .innerNav > li {
          height: 20px;
          margin-top: 8px;
          opacity: 1;
          transition: height variables.$trans-speed ease-in-out,
            margin-top variables.$trans-speed ease-in-out,
            opacity variables.$trans-speed ease-in-out 0.1s;
        }
      }

      &.childSelect .title {
        color: variables.$primary;
        :global .kubed-icon {
          color: variables.$green-color03;
          fill: variables.$green-color04;
        }
      }

      &.disabled {
        opacity: 0.7;

        &.select {
          & > a {
            color: variables.$dark-color04;
            cursor: not-allowed;
          }

          :global .kubed-icon {
            color: variables.$dark-color07;
            fill: variables.$dark-color04;
          }
        }

        .title {
          :global .kubed-icon-chevron-down {
            transform: none;
          }
        }

        .innerNav > li {
          height: 0;
          opacity: 0;
          margin: 0;
          overflow: hidden;
        }
      }

      & + li {
        margin-top: 4px;
      }
    }
  }
}

.innerNav {
  margin-bottom: 4px;
  padding-left: 38px;

  @media (max-width: 1366px) {
    padding-left: 26px;
  }

  & > li {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height variables.$trans-speed ease-in-out 0.1s,
      margin-top variables.$trans-speed ease-in-out 0.1s,
      opacity variables.$trans-speed ease-in-out;

    & > a {
      display: block;
      color: variables.$dark-color04;
    }

    &.select,
    &:hover,
    &:active {
      & > a {
        color: variables.$primary;
      }
    }

    &.disabled {
      opacity: 0.7 !important;

      &.select,
      &:hover,
      &:active {
        & > a {
          color: variables.$dark-color04;
          cursor: not-allowed;
        }
      }
    }
  }
}

.back {
  margin: 20px 0;
  padding: 8px 12px;
  & > a > svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: text-top;
  }
}

.rightIcon {
  float: right;
  margin-right: 0 !important;
}

.tip {
  margin-top: -2px;
  margin-left: 4px;
}
